.book {
    opacity: .93;
}

.book-description {
    overflow: hidden;
    max-height: 60%;
    color: #566680;
}

.book-author {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.book-info {
    border-bottom: 1px solid gray;
    color: #464646;
}

.book-name {
    color: #eb9316;
    margin-left: 10px;
}

.book-history {
    color: #c78688;
    margin: 0 0 20px 10px;
}

.book-history-info {
    font-family: Calibri;
}
